.full-width {
  width: 100%;
}

p,ol,ul,li {
  font-size: small;
}

.radio-column {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.example-header-image {
  background-image: url('/assets/images/logo.png');
  background-size: cover;
}