<div class="my-container">
  <form [formGroup]="formGroup" novalidate (submit)="onSubmit()">
    <mat-stepper linear #stepper formArrayName="formArray">
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!" [editable]="isEditable">
        <ng-template matStepLabel>Información</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>CEMAC Veracruz-Boca del Río</mat-card-title>
              <mat-card-subtitle>Antes de registrar tus datos, lee la siguiente información:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>CEMAC es una organización sin fines de lucro en donde todos apoyamos y aportamos para que los
                objetivos se cumplan. Estamos organizados por: Asamblea, Mesa Directiva, Comisión de expresidentes y
                Cuerpo de
                guías. Todos los que participamos en cualquier área administrativa u operativa no recibimos emolumento
                alguno, lo hacemos con el fin de engrandecer a nuestro club y cumplir el objetivo de promover y difundir
                el excursionismo organizado y deporte al aire libre.
              </p>
              <p>Te invitamos a leer nuestros Estatutos y la Carta Responsiva. Accede haciendo click aquí</p>
              <p>Para agilizar el proceso y garantizar una inscripción exitosa, te recomendamos tener a la mano los
                siguientes datos y
                documentos en digital:
              </p>
              <div style="padding-left: 40px;">
                <ol>
                  <li>Identificación oficial (INE o pasaporte).</li>
                  <li>Fotografía en que se aprecie tu rostro, si gustas en actividad que te represente.</li>
                  <li>Numero de celular y corro electrónico.</li>
                  <li>Comprobante de pago.</li>
                </ol>
              </div>
              <p>El depósito o trasferencia por concepto de inscripción ($250.00) y tres mensualidades ($125.00
                mensual).
                Harán un
                total de $625.00 (Seiscientos Veinticinco Pesos 00/100 M.N). A la Cuenta del club:
              </p>
              <p>CLUB DE EXPLORACIONES DE MEXICO, SEC. VER-BOCA DEL RIO, A.C</p>
              <p>BBVA Bancomer, Suc.5277</p>
              <p>Cuenta: 0196232884</p>
              <p>Clabe: 012905001962328844</p>
              <p>Dudas respecto a Tesorería por WhatsApp 22 91 32 70 83.</p>
              <p> Para continuar, ¿cuentas con todos los requisitos? </p>
              <mat-radio-group class="radio-column" required formControlName="reqState">
                @for (state of ['No tengo alguno de los requisitos.','Si cuento con todos los requisitos.']; track
                state)
                {
                <mat-radio-button [value]="state">{{state}}</mat-radio-button>
                }
              </mat-radio-group>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button matStepperNext
                [disabled]="formArray?.get([0])!.invalid||formArray?.get([0])?.value['reqState']=='No tengo alguno de los requisitos.'">Siguiente</button>
            </mat-card-actions>
          </mat-card>
        </ng-template>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])!" [editable]="true">
        <ng-template matStepLabel>Datos</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Datos personales</mat-card-title>
              <img mat-card-sm-image src="/assets/images/ine.png">
              <mat-card-subtitle>
                Escribe tus datos tal y como aparecen en tu identificación oficial con fotografía.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-form-field>
              <input matInput placeholder="Nombre(s)" formControlName="_01nombres">
              @if (formArray?.get([1])?.hasError('required')) {
              <mat-error>Se <strong>requiere</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Primer Apellido" formControlName="_02apellido1">
              @if (formArray?.get([1])?.hasError('required')) {
              <mat-error>Se <strong>requiere</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Segundo Apellido" formControlName="_03apellido2">
              @if (formArray?.get([1])?.hasError('required')) {
              <mat-error>Se <strong>requiere</strong></mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="¿Cómo le gusta que le llamen?" formControlName="_00sobrenombre">
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="Calle y Número" formControlName="_04address1"></textarea>
              @if (formArray?.get([1])?.hasError('required')) {
              <mat-error>Se <strong>requiere</strong></mat-error>
              }
            </mat-form-field>


            @if (hasUnitNumber) {
            <mat-form-field>
              <textarea matInput placeholder="Colonia / Distrito" formControlName="_05address2"></textarea>
            </mat-form-field>
            } @else {
            <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
              + Agrega una referencia más
            </button>
            }

            <mat-form-field>
              <input matInput placeholder="País" formControlName="_09pais">
              <mat-error>Se <strong>requiere</strong></mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Provincia / Entidad Federativa" formControlName="_08estado">
              <mat-error>Se <strong>requiere</strong></mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Municipio / Región" formControlName="_07municipio">
              <mat-error>Se <strong>requiere</strong></mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Población / Ciudad" formControlName="_06ciudad">
              <mat-error>Se <strong>requiere</strong></mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput #postalCode maxlength="5" placeholder="Código Postal" type="number"
                formControlName="_10postalCode">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>

            <mat-radio-group formControlName="_11genero">
              <mat-radio-button value="Hombre">Hombre</mat-radio-button>
              <mat-radio-button value="Mujer">Mujer</mat-radio-button>
            </mat-radio-group>
            <mat-card-actions>
              <!-- <button mat-button matStepperNext [disabled]="formArray?.get([0])!.invalid" type="submit">Enviar</button> -->
              <button mat-button matStepperNext>Siguiente</button>
            </mat-card-actions>
          </mat-card>
        </ng-template>
        <!-- </form> -->
      </mat-step>
      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])!" [editable]="isEditable">
        <ng-template matStepLabel>Contacto</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Información de contacto</mat-card-title>
              <!-- <img mat-card-sm-image src="/assets/images/ine.png"> -->
              <mat-card-subtitle>
                Proporcionanos información para estar en contacto contigo.
              </mat-card-subtitle>
            </mat-card-header>
              <mat-form-field>
                <input matInput placeholder="Phone Number" formControlName="_13telefono">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="_12email">
              </mat-form-field>
              
              <!-- <mat-label>Correo electrónico</mat-label>  -->
              <!-- <mat-checkbox type="checkbox" formControlName="canEmail">Correo electrónico</mat-checkbox> -->
              <!-- <mat-label>Llamada</mat-label>  -->
              <!-- <mat-checkbox type="checkbox" formControlName="canCall">Llamada</mat-checkbox> -->
              <!-- <mat-label>Mensajes de texto</mat-label>  -->
              <!-- <mat-checkbox type="checkbox" formControlName="canSMS">Mensajes de texto</mat-checkbox> -->
              <!-- <mat-label>Whats App</mat-label>  -->
              <!-- <mat-checkbox type="checkbox" formControlName="canWA">Whats App</mat-checkbox> -->
              <mat-form-field>
                <mat-select  formControlName="_14horario">
                  <mat-option [value]="''">Escoge un horario de contacto.</mat-option>
                  <mat-option [value]="'Por la mañana, antes de las 9am'">Por la mañana, antes de las 9am</mat-option>
                  <mat-option [value]="'Por la tarde, después de las 12:00 pm'">Por la tarde, después de las 12:00
                    pm</mat-option>
                  <mat-option [value]="'Por la tarde, después de las 6:00 pm'">Por la tarde, después de las 6:00
                    pm</mat-option>
                  <mat-option [value]="'Por la noche, antes de las 9pm'">Por la noche, antes de las 9pm</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="¿Cómo te enteraste del club?" formControlName="_15referencia">
              </mat-form-field>


              <mat-form-field>
                <input matInput placeholder="Nombre del Contacto de Emergencias" formControlName="_16emer_name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Telefono del Contacto de Emergencias" formControlName="_18emer_telefono">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Parentesco del Contacto de Emergencias" formControlName="_17emer_relation">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Nombre del Servicio de Salud" formControlName="_19ss_name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Número de Seguridad Social" formControlName="_20nss">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Alergias" formControlName="_21alergias">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Padecimientos" formControlName="_22padecimientos">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Medicamentos" formControlName="_23medicamentos">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Tipo de Sangre" formControlName="_24sangre">
              </mat-form-field>
            <mat-card-actions>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-button matStepperNext [disabled]="docsForm.invalid" type="submit">Enviar</button> -->
              <button mat-button [disabled]="formArray?.get([2])!.invalid" matStepperNext>Siguiente</button>
            </mat-card-actions>
          </mat-card>
          <!--  -->
          <!-- Cómo te enteraste -->
          <!-- Información de emergencias -->
        </ng-template>
      </mat-step>
      <mat-step formGroupName="3" [stepControl]="formArray?.get([3])!" [editable]="isEditable">
        <ng-template matStepLabel>Documentos</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Identificación oficial</mat-card-title>
              <img mat-card-sm-image src="/assets/images/ine.png">
              <mat-card-subtitle>
                Seleccina el archivo que contiene tu Identificación Oficial con Fotografía.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-label for="filePicker">Archivo con Identificación Oficial con Fotografía:</mat-label>
              <input type="file" (change)="catfile='ine';handleFileSelect($event)">
              <br>
              <img [src]="(imageSource1|async)" alt="Image Source" height="100px">


            </mat-card-content>
            <mat-card-actions>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-button matStepperNext [disabled]="docsForm.invalid" type="submit">Enviar</button> -->
              <button mat-button [disabled]="formArray?.get([3])!.invalid" matStepperNext>Siguiente</button>
            </mat-card-actions>
          </mat-card>
          <!-- Información de contacto -->
          <!-- Cómo te enteraste -->
          <!-- Información de emergencias -->
        </ng-template>
      </mat-step>
      <mat-step formGroupName="4" [stepControl]="formArray?.get([4])!" [editable]="isEditable">
        <ng-template matStepLabel>Documentos</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Comprobante de Pago</mat-card-title>
              <img mat-card-sm-image src="/assets/images/ine.png">
              <mat-card-subtitle>
                Seleciona el archivo que contiene tu recibo bancario de pago.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-label for="filePicker">Archivo con comprobante de pago:</mat-label>
              <input type="file" (change)="catfile='recipment';handleFileSelect($event)">
              <br>
              <img [src]="(imageSource2|async)" alt="Image Source" height="100px">

            </mat-card-content>
            <mat-card-actions>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-button matStepperNext [disabled]="docsForm.invalid" type="submit">Enviar</button> -->
              <button mat-button [disabled]="formArray?.get([4])!.invalid" matStepperNext>Siguiente</button>
            </mat-card-actions>
          </mat-card>
          <!-- Información de contacto -->
          <!-- Cómo te enteraste -->
          <!-- Información de emergencias -->
        </ng-template>
      </mat-step>
      <mat-step formGroupName="5" [stepControl]="formArray?.get([5])!" [editable]="isEditable">
        <ng-template matStepLabel>Documentos</ng-template>
        <ng-template matStepContent>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Documentación digital</mat-card-title>
              <img mat-card-sm-image src="/assets/images/ine.png">
              <mat-card-subtitle>
                Seleciona el archivo que contiene la fotografía de tu rostro.
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-label for="filePicker">Archivo con fotografía de tu rostro:</mat-label>
              <input type="file" (change)="catfile='photo';handleFileSelect($event);">
              <br>
              <img [src]="(imageSource3|async)" alt="Image Source" height="100px">

            </mat-card-content>
            <mat-card-actions>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-button matStepperNext [disabled]="docsForm.invalid" type="submit">Enviar</button> -->
              <button mat-button [disabled]="formArray?.get([5])!.invalid" matStepperNext>Siguiente</button>
            </mat-card-actions>
          </mat-card>
        </ng-template>
      </mat-step>
      <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Done</ng-template>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Por último...</mat-card-title>
            <mat-card-subtitle>Revisa la información ingrasada para enviar tus datos al proceso de
              selección</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p></p>
            @for (i of [ 0,1,2,3,4,5 ]; track $index) {
            @if (i>2) {
            {{(formArray?.get([i])!.value|keyvalue)[0].key}}:
            <img src="{{(formArray?.get([i])!.value|keyvalue)[0].value}}" height="150px">
            } @else if ( i==0) {
            <p>{{(formArray?.get([i])!.value|keyvalue)[0].value}}</p>
            } @else{
            @for (item of (formArray?.get([i])!.value|keyvalue);track item) {<p>{{item.value}}</p>}
            }
            }
          </mat-card-content>
          <mat-card-actions>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button [disabled]="formGroup.invalid" type="submit">Enviar</button>
            <button mat-button (click)="stepper.reset()">Reset</button> </mat-card-actions>
        </mat-card>
      </mat-step>
    </mat-stepper>
  </form>
</div>