<video autoplay muted loop id="myVideo">
    <source src="/assets/images/DJI_0085_2.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  
  <p>“CEMAC , Es el club de exploraciones más antiguo de México, con casi un Siglo de existencia, Mas de 1000 socios amantes de la naturaleza y del excursionismo organizado que han conformado una gran familia a nivel nacional, realizando más de 20 excursiones cada fin de semana, Los socios del CEMAC han excursionado por los 5 continentes y han conquistado cimas importantes a nivel mundial. ”.
    Fue fundado en el mes de marzo de 1922 por el Sr. Otis McAllister y un grupo de entusiastas compañeros. Sigue los principios de igualdad y fraternidad, no aceptando distinción alguna de raza, sexo, edad, nacionalidad, estado civil, nivel económico, afiliación política o creencia religiosa, y solo exige moralidad y buenos modales entre sus asociados y entre la institución y otras afines.
</p>

<p>
    El Club de Exploraciones de México, Sección Veracruz Boca del Río nace 1° de Julio de 1995 y fue abanderada por el Club de Exploraciones de México, A.C. el 12 de Julio de ese mismo año. Siendo sus fundadores Juan Alexander Boris Milaszenko Palavicini y Silverio Gutierrez Carrasco (q.e.p.d.)
</p>
<p>
El CEMAC cuenta con diversas secciones foráneas además de representaciones a lo largo de México, las cuales son autónomas y sólo se les pide acatar los principios fundamentales del CEMAC.
Las secciones existentes actualmente son:
</p>
<ul>
<li>CEMAC Central</li>
<li>CEMAC Tehuacán</li>
<li>CEMAC Xalapa</li>
<li>CEMAC Querétaro</li>
<li>CEMAC Miahuatlán</li>
<li>CEMAC Veracruz - Boca Río</li>
<li>CEMAC Toluca</li>
<li>CEMAC Oaxaca</li>
<li>CEMAC Guadalajara</li>
<li>CEMAC Banderilla</li>
</ul>