<div class="content">
  <div class="paralax">
    <div class="layer rocks2"></div>
    <div class="layer rocks1"></div>
    <div class="layer hills"></div>
    <div class="layer foreground"></div>
    <div class="jumbotron">
      <div class="text-center">
        <p class="display-4 head-component text-danger">
          Error 404
        </p>
        <p class="mat-h1">
          Ésta no es la página que buscas ya que no existe.
        </p>
        <p>
          Pagina no encontrada.
        </p>
        <button mat-raised-button color="primary" routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </button>
      </div>
    </div>
  </div>

</div>