<div class="content">
  <div class="paralax">
    <div class="layer rocks2"></div>
    <div class="layer rocks1"></div>
    <div class="layer hills"></div>
    <div class="layer foreground"></div>
    <mat-card style="padding:50px;margin:50px;background-color:  rgba(#154626, 0.5);max-width: fit-content;justify-content: center;">
      <mat-card-header>
        <mat-card-title>Error 404</mat-card-title>
        <mat-card-subtitle>Pagina no encontrada.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- Ésta no es la página que buscas ya que no existe. -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button  [routerLink]="['/']">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </button>      </mat-card-actions>
    </mat-card>
     
       
      </div>
    </div>
