<mat-toolbar>
  <mat-toolbar-row class="elevation-card" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-evenly end" fxLayoutGap="5px">
      <button  type="button" aria-label="mostrar menu" mat-icon-button
      (click)="toggleSidenavLeft($event)">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <!-- <a routerLink="/"><img src="/assets/images/logo.png" height="50px" /></a> -->
      <!-- <div class="app-name">RDS Spelling Bee</div>  -->
    </div> 
      <div fxLayout="row" fxLayoutAlign="space-evenly end" fxLayoutGap="20px">
       @if (isAuthenticated()) {
        <button mat-icon-button (click)="logOut()">
          <mat-icon class="rds-icon" matTooltip="Cerrar sesión">logout</mat-icon>
         </button>
       } @else {
        <button mat-icon-button routerLink="['/login']" >
          <mat-icon class="rds-icon" matTooltip="Iniciar sesión">login</mat-icon> 
        </button>
       }
        <button type="button" mat-icon-button (click)="toggleDarkTheme(isDarkTheme)">
       <mat-icon class="rds-icon"  [matTooltip]="(isDarkTheme$|async)?'Modo oscuro':'Modo claro'"  aria-label="Alternar tema">{{(isDarkTheme$|async)?'nightlight':'light_mode'}}</mat-icon>
      </button>
      <!-- <span style="font-size:50%">{{ (isDarkTheme$|async)?'on':'off' }}</span> -->
      <!-- <button > -->
        <button type="button" mat-icon-button onclick="var el = document.querySelector('body'); el.requestFullscreen();">
          <mat-icon class="rds-icon" matTooltip="Pantalla completa">fullscreen</mat-icon> 
        </button>

      </div>
  </mat-toolbar-row>
  </mat-toolbar>
  <ng-content #progressBar></ng-content>