<p>Recomendaciones generales

    Nuestro guías siempre tratan de pensar en todos, por eso las excursiones están clasificadas y son anunciadas de acuerdo al tipo de excursión y dificultad, se consciente de tus capacidades antes de inscribirte a una de ellas, asiste primero a salidas de baja dificultad o distancias cortas, algunas salidas requieren que cuentes con experiencia o capacitación para asistir por ejemplo la que tienen que ver con líneas verticales como escalada en roca, cañonismo, alta montaña, poco a poco conocerás todas y te especializaras en la que más te agrade.
    
    Siempre lleva tu celular cargado y si es posible una pila de repuesto, comenta con tus familiares donde estarás y la hora esperada de regreso, proporcionales el contacto del coordinador, en caso de alguna eventualidad.
    
    Prepara con tiempo equipo vestimenta y calzado, hidratarse comer y dormir bien antes de nuestra excursión es esencial, se puntual en el punto de reunión.
    
    Siempre debes seguir las indicaciones de los guías y sus retas, en la excursión nunca nadie debe ir delante del guía, el va midiendo al grupo y llevando un equilibrio, no lo rompas,
    
    La fraternidad el respeto a las personas y la naturaleza, la no discriminación es la base nuestro club, evitamos temas políticos y religiosos y todo lo que llevamos a la naturaleza regresa con nosotros.
</p>

<mat-accordion style="padding: 20px;">
    @for (info of questions; track $index) {
    <mat-expansion-panel (opened)="panelOpenState=true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-around center">
            <mat-panel-title style="margin: 20px;">
                {{info.question}}
            </mat-panel-title>
            <mat-panel-description>
                {{info.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
            {{info.answer}}
        </mat-card>
    </mat-expansion-panel>
    }
</mat-accordion>