<div class="container mat-typography" fxLayout="column" fxLayoutAlign="center center">
  <div id="content">
    <img src="/assets/images/logo.png" height="220px" class="img-fluid" alt="Login Image">
  </div>
  <h1 >CEMAC</h1>
  <h2 >Veracruz - Boca del Río</h2>
  <h3 >Conoce y comparte con nosotros nuevas aventuras.</h3>
</div>

<div class="blank mat-typography">
  <div style="display: flex;align-items: center;justify-content: center;">
    <p>
      “CEMAC, es un estilo de vida, donde cada fin de semana puedes conocer lugares maravillosos, disfrutar de
      actividades como bicicleta de montaña, kayak, buceo, cañonismo, escalada, media y alta montaña, espeleología,
      rafting y ecoturismo”.
    </p>
  </div>
</div>

<div class="container second mat-typography" fxLayout="row" fxLayout.lt-md="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
  <div class="item" fxFlex>
    <div class="img img-first"></div>
    <div class="card">
      <p>Escalada en roca</p>
      <!-- <p>The goal is to reach the summit of a formation or the endpoint of a usually pre-defined route without falling</p> -->
      <button mat-button>Más información</button>
    </div>
  </div>
  <div class="item" fxFlex>
    <div class="img img-second"></div>
    <div class="card">
      <p>Espeleología</p>
      <!-- <p>Exploring underground through networks of tunnels and passageways, which can be natural or artificial.</p> -->
      <button mat-button>Más información</button>
    </div>
  </div>
  <div class="item" fxFlex>
    <div class="img img-third"></div>
    <div class="card">
      <p>Montañismo</p>
      <!-- <p>Jumping from an aeroplane and falling through the air before opening your parachute.</p> -->
      <button mat-button>Más información</button>
    </div>
  </div>
  <div class="item" fxFlex>
    <div class="img img-fourth"></div>
    <div class="card">
      <p>Senderismo</p>
      <!-- <p>The goal is to reach the summit of a formation or the endpoint of a usually pre-defined route without falling</p> -->
      <button mat-button>Más información</button>
    </div>
  </div>
  <div class="item" fxFlex>
    <div class="img img-fifth"></div>
    <div class="card">
      <p>Bicicleta</p>
      <!-- <p>Exploring underground through networks of tunnels and passageways, which can be natural or artificial.</p> -->
      <button mat-button>Más información</button>
    </div>
  </div>
  <div class="item" fxFlex>
    <div class="img img-sixth"></div>
    <div class="card">
      <p>Kayakismo</p>
      <!-- <p>Jumping from an aeroplane and falling through the air before opening your parachute.</p> -->
      <button mat-button>Más información</button>
    </div>
  </div>
</div>

<div class="blank mat-typography">
  <mat-card style="padding: 50px;background-color: rgb(186, 164, 85);">
    <mat-card-header>
      <mat-card-title class="mat-h1">Socio CEMAC</mat-card-title>
      <mat-card-subtitle class="mat-h3">Ser socio, te lleva a un mundo de posibilidades de aventuras con la
        naturaleza.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      En un marco de respeto a nuestros estatutos y del medio ambiente, fomentamos la unidad y la convivencia sana
        entre los participantes. Siempre estarán abiertas las posibilidades de crecimiento dentro de la organización,
        pasando de reta a guía y como instructor, compartiendo tus conocimientos y experiencias en la formación de
        nuevos socios.
    </mat-card-content>
    <mat-card-actions>
      <button [@hueButton]="hueBtnState" (@hueButton.done)="hueBtnState = !hueBtnState" mat-raised-button color="warn"
        routerLink="/inscription">
        <mat-icon>hiking</mat-icon>
        <div>Inscríbete</div>
        </button>
    </mat-card-actions>
  </mat-card>
</div>