@import "assets/themes/custom-theme.scss";
@import "assets/themes/colors";
html, body { height: 100%; }
body { margin: 0; }
.view-title {
  color: $bg-main;
  font-weight: 400;
  font-size: 2.5em;
  font-family: "Roboto", cursive;
  text-shadow: -3px -2px 1px $text-shadow-color;
  max-width: 1200px;
}
.view-subtitle {
  font-weight: 400;
  color: $brown-color;
  font-family: "Roboto";
  font-size: 1.8em;
  max-width: 1200px;
}

.app-name {
  color: $rds-logo-color;
  font-family: "Roboto";
  font-weight: 500;
  text-shadow: -0.5px -0.5px 0px $text-shadow-color;
font-size: large;
}

.year {
  position: relative;
  color: #be7714;
  margin-top: -20px;
  padding-left: 50px;
  //transform: scale(2);
  font-family: "Roboto";
  font-weight: 500;
  text-shadow: -0.5px -0.5px 0.6px rgba($color: #221502, $alpha: 1);
  font-size: calc(1rem + 2vw);
}

@media (max-width: 1200px) {
  .view-title {
    font-size: calc(0.5em + 4vw);
  }
  .view-subtitle {
    font-size: calc(0.4em + 2vw);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* class to avoid text selection*/
.no-copy {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
